<div class="bg-imgs">
    <mat-toolbar class="clr-bg">
        <img src="programmers-io.png" class="dshbrd-img">
        <span class="example-spacer"></span>
        <h3><strong style="color: aliceblue; margin-right: 250px;">Library Administration App</strong></h3>
        <span class="spacer"></span>
    </mat-toolbar>
    <div class="login-container bg-imgs">
        <div class="right-section signin-img">
        </div>
        <div class="left-section">
            <mat-card>
                <img src="signin.png" class="img-fluid">

                <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                    <h2>Sign-in</h2>
                    <mat-form-field class="ffield" appearance="fill" class="ermsg">
                        <mat-label>Username</mat-label>
                        <input matInput placeholder="Enter your name" formControlName="username" required
                            class="ffield">
                        <mat-error *ngIf="loginForm.controls['username'].invalid" class="ermsg">
                            *Username is required
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="fill" class="ermsg">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" placeholder="Enter your password" formControlName="password"
                            required>
                        <mat-error *ngIf="loginForm.controls['password'].invalid" class="ermsg">
                            *Password is required
                        </mat-error>
                    </mat-form-field>
                    <div>
                        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
                            Login
                        </button>
                    </div>

                    <div class="errmsg">
                        <mat-error *ngIf="errorMessage">{{errorMessage}}</mat-error>
                    </div>
                </form>
            </mat-card>
        </div>
    </div>
</div>