.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    top: 50;
    left: 0;
    transform: translate(0,50%);
}

.left-section,
.right-section{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

mat-card{
    padding: 20px;
    width: 300px;
    text-align: center;
    margin-right: 250px;
}

.ermsg{
    margin-bottom: 10px;
}

.signin-img{
    margin-left: 200px;
}