.table-container{ 
    margin: 20px;
    border: 2px solid black;
}

table{
    width: 100%;
    
}

.icons{
    margin-left: 10px;
}

.table-head{
    background-color: rgba(105, 188, 255, 0.538);
}

#agmnt{
    margin-left: 45px;
}